.card {
    /* border: 1px solid black; */
    /* height: 70px; */
    display: flex;
    top: 283px;
    left: 140px;
    /* width: 1226px; */
    height: 100px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F4F4F4;
    border-radius: 0px 0px 4px 4px;
    opacity: 1;

}

.image{
    /* top: 318px; */
    /* left: 159px; */
    width: 75px;
    height: 55px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 20px 4px 2px 4px;
    
}
.heading {
    display: flex;
    flex-direction: column;
}


.addToCart>button{
    /* padding-top: 10px; */
    /* width: 79px; */
    /* height: 40px; */
    background: #FF6738 0% 0% no-repeat padding-box;
    color: #F2F2F2;
    opacity: 1;
    margin-top: 37px;
    margin-left: 20px;
    width: 95px;
    height: 19px;
    /* UI Properties */
    cursor: pointer;
    text-align: center;
    font: normal normal 500 10px/15px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.description{
    margin-left: 10px;
    /* top: 294px; */
    /* left: 258px; */
    width: 250px;
    height: 16px;
    /* UI Properties */
    text-align: left;
    font: normal normal 550 12px/17px Montserrat;
    letter-spacing: 0px;
    color: #080808;
    opacity: 1;
}
.star {
    padding: 40px 0px 10px 20px;
    /* top: 321px;
    left: 893px; */
    /* width: 15px; */
    height: 13px;
    background: transparent  0% 0% no-repeat padding-box;
    opacity: 1;
}

.arrow{
    margin-left: auto;
    padding: 40px 20px 40px 0px;
    width: 8px;
    height: 16px;
    background: transparent  0% 0% no-repeat padding-box;
    /* border: 1px solid #25282B; */
    opacity: 1;
}
.discount {
    margin-left: 20px;
    padding: 15px 0px 20px 0px;
    /* width: 106px; */
    height: 14px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 10px/24px Montserrat;
    letter-spacing: 0px;
    color: #080808;
    opacity: 1;
}
.price{
    /* width: 62px; */
    height: 14px;
    text-align: left;
    text-decoration: line-through;
    font: normal normal 300 10px/24px Montserrat;
    letter-spacing: 0px;
    color: #080808;
    opacity: 1;

    margin-left: 20px;
    padding: 15px 0px 20px 0px;
    
   
    
}

.author{
    height: 16px;
/* UI Properties */
    text-align: left;
    font: normal normal 300 14px/32px Montserrat;
    letter-spacing: 0px;
    color: #080808;
    opacity: 1;
}
.react-image{
    display: flex;
   
}
.tag {
    background: #FF6738 0% 0% no-repeat padding-box;
    color: #F2F2F2;
    opacity: 1;
    /* margin-top: 37px; */
    margin-left: 10px;
    width: 95px;
    height: 19px;
    /* UI Properties */
    /* padding: 10px 0px 0px 0px; */
    text-align: center;
    font: normal normal 500 12px/19px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}